.DS_Store
!.gitignore
!.htaccess
!web.config
app/config/config.local.neon
/_doc/
/webtemp/
/temp/
/log/
/vendor/bin/
/vendor/composer/
/vendor/dg/
/vendor/janmarek/
/vendor/latte/
/vendor/nette/
/vendor/tracy/
/vendor/autoload.php
/vendor/
/nbproject/private/
composer.lock