# I prefer to create components in BasePresenter you can use webloader.neon if you wish
services:
    jwlCssMinFilter: Joseki\Webloader\CssMinFilter
webloader:
	css:
		default:
			files:
				- %wwwDir%/www/css/jquery-ui.css
				- %wwwDir%/www/css/bootstrap.css
				- %wwwDir%/www/css/texyla-style.css
				- %wwwDir%/www/css/texyla-theme-default.css
				- %wwwDir%/www/css/screen.css
			filters:
				- @jwlCssMinFilter
	js: 
		default:
			remoteFiles:
			files:
				- %wwwDir%/www/js/jquery-ui.js
				- %wwwDir%/www/js/jquery.ui.datepicker-sk.js
				- %wwwDir%/www/js/bootstrap.js
				- %wwwDir%/www/js/netteForms.js
				- %wwwDir%/www/js/nette.ajax.js
		texyla:
			files:
				- %wwwDir%/www/js/texyla/js/texyla.js
				- %wwwDir%/www/js/texyla/js/selection.js
				- %wwwDir%/www/js/texyla/js/texy.js
				- %wwwDir%/www/js/texyla/js/buttons.js
				- %wwwDir%/www/js/texyla/js/dom.js
				- %wwwDir%/www/js/texyla/js/view.js
				- %wwwDir%/www/js/texyla/js/ajaxupload.js
				- %wwwDir%/www/js/texyla/js/window.js
				- %wwwDir%/www/js/texyla/languages/cs.js
				- %wwwDir%/www/js/texyla/languages/sk.js
				- %wwwDir%/www/js/texyla/languages/en.js
				- %wwwDir%/www/js/texyla/plugins/keys/keys.js
				- %wwwDir%/www/js/texyla/plugins/resizableTextarea/resizableTextarea.js
				- %wwwDir%/www/js/texyla/plugins/img/img.js
				- %wwwDir%/www/js/texyla/plugins/table/table.js
				- %wwwDir%/www/js/texyla/plugins/link/link.js
				- %wwwDir%/www/js/texyla/plugins/emoticon/emoticon.js
				- %wwwDir%/www/js/texyla/plugins/symbol/symbol.js
				- %wwwDir%/www/js/texyla/plugins/files/files.js
				- %wwwDir%/www/js/texyla/plugins/color/color.js
				- %wwwDir%/www/js/texyla/plugins/textTransform/textTransform.js
				- %wwwDir%/www/js/texyla/plugins/youtube/youtube.js
				- %wwwDir%/www/js/texyla/plugins/gravatar/gravatar.js
				- %wwwDir%/www/js/texyla-init.js
#			filters:
#				- @JSMin::minify